{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    {% for object in object_list %}
       {% include 'catalog/includes/inc_category.html' with object=object %}
    {% endfor %}
</div>
<p>
    <h5 class="card-title" >Всем баскетбол!</h5>
<small class="text-body-secondary">🌍Тренировочный процесс в нашей Академии строится на индивидуальном подходе. На занятиях баскетболом для детей наши тренера помогают овладеть техникой игры, учат понимать ее суть и разбираться в нюансах этого интереснейшего вида спорта. Мы уверены: радость нужно получать не только от побед, но и от каждой из тренировок!!

Мы работаем с игроками разного уровня от детей, которые только начинают свой путь в баскетболе до профессиональных игроков.

<p>Что Ваш ребенок получит в UBA?</p>
    <p>✅Навыки общения и найдет себе друзей.</p>
    <p>✅Гармоничное физическое и моральное развитие.</p>
    <p>✅Базовые баскетбольные навыки.</p>
    <p>✅Лидерские качества.</p>
    <p>✅Заряд положительных эмоций, что очень важно при занятии спортом!</p>
    <p>Мы предлагаем:</p>
    <p>✅Индивидуальный подход к каждому ребенку.</p>
    <p>✅Профессиональное детское спортивное оборудование.</p>
    <p>✅Методики тренировок для самых маленьких спортсменов.</p>
    <p>✅ Интересный тренировочный процесс, с разнообразными и эффективными упражнениями</p>
</small>
<p>
    <a href="https://vk.com/ural.basketball.academy" class="btn btn-primary">Мы вконтакте</a>
</p>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

{% endblock %}


