<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about_me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          <style>
            <div class="text-bg-dark p-3">ВПЕРЕД К ПОБЕДАМ!</div>
          </style>
</head>
<body>
<h1>О нас</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Главная</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Магазин</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="форма/">форма</a></li>
      <li><a class="dropdown-item" href="кроссовки/">кроссовки</a></li>
      <li><a class="dropdown-item" href="#">В разработке</a></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contacts/">Контакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about_me/">О нас</a>
  </li>
</ul>

<p>
    <h5 class="card-title" >Всем баскетбол!</h5>
<small class="text-body-secondary">🌍Тренировочный процесс в нашей Академии строится на индивидуальном подходе. На занятиях баскетболом для детей наши тренера помогают овладеть техникой игры, учат понимать ее суть и разбираться в нюансах этого интереснейшего вида спорта. Мы уверены: радость нужно получать не только от побед, но и от каждой из тренировок!!

Мы работаем с игроками разного уровня от детей, которые только начинают свой путь в баскетболе до профессиональных игроков.

Что Ваш ребенок получит в UBA?

✅Навыки общения и найдет себе друзей.
✅Гармоничное физическое и моральное развитие.
✅Базовые баскетбольные навыки.
✅Лидерские качества.
✅Заряд положительных эмоций, что очень важно при занятии спортом!

Мы предлагаем :

✅Индивидуальный подход к каждому ребенку.
✅Профессиональное детское спортивное оборудование.
✅Методики тренировок для самых маленьких спортсменов.
✅ Интересный тренировочный процесс, с разнообразными и эффективными упражнениямиt</small>
</p>

<p>
    <a href="https://vk.com/ural.basketball.academy" class="btn btn-primary">Мы вконтакте</a>
</p>
  </div>
</div>

</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</html>