<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEST</title>
    <!-- Bootstrap core CSS. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          <style>
            <div class="text-bg-dark p-3">ВПЕРЕД К ПОБЕДАМ!</div>
          </style>
</head>
<body>
<h1>Привет, мир!!!</h1>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Главная</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Магазин</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="форма.html">форма</a></li>
      <li><a class="dropdown-item" href="кроссовки.html">кроссовки</a></li>
      <li><a class="dropdown-item" href="#">В разработке</a></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contacts/">Контакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about_me/">О нас</a>
  </li>
</ul>
<div class="card">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">План</h5>
    <p class="card-text">Давайте попробуем сделать первый свой сайт-магазин.</p>
    <a href="#" class="btn btn-primary">Вперед</a>
  </div>
</div>
<footer class="pt-3 my-md-3 pt-md-3 border-top">
        <div class="row">

            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Стоимость</a></li>
                    <li><a class="text-muted" href="#">Магазин</a></li>
                    <li><a class="text-muted" href="#">Наши тренеры</a></li>
                    <li><a class="text-muted" href="#">Хочу в команду</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://vk.com/ural.basketball.academy">Мы ВКОНТАКТЕ</a></li>
                    <li><a class="text-muted" href="https://vk.com/ural.basketball.academy?w=address-203266432_72254">ФИЛИАЛЫ</a></li>
                    <li><a class="text-muted" href="catalog/templates/catalog/about_me.html">О нас</a></li>
                </ul>
            </div>
          <div class="col-12 col-md">
                УБА
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
        </div>
    </footer>

</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</html>